/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #c0d4e7e3;
   --cor-de-link: #000;
   --cor-de-abautme:#EAF2FD;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0 10%;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.menu__header{
    display: flex;     
    gap: 20px;
    align-items: center;
}

.estrellita{
    width: 25px;
    height: 25px;
    align-self: auto;
}

.menu__list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.menu__list__item__contato{
    font-weight: bold;
}


/*Sección Title*/

.title__div{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

.title__container{
    align-content: space-around;
}

.title__profile{
    width: 250px;
    position: relative;
}


.title__network{
    display: flex;
    gap: 40px;
}

/*Sección About*/

section.about{

}

/*Sección Hobbies*/

section.hobbies{
    
}

/* Experiencia Académica*/

section.academic{

}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 900px) {

/* Menú */
.menu__list__item{
    display: none;
    min-width: none;
}
/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 500px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}