/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #c0d4e7e3;
   --cor-de-link: #000;
   --cor-de-abautme:#EAF2FD;
   --font-size-h2: clamp(1.5rem, 2.5vw, 3rem);
   --font-size-profile: clamp(1rem, 2vw, 1.5rem);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    padding:  30px 9%;
    background-color: #8bb8aa;
    gap: 0px;
}
.menu__header{
    display: flex;     
    gap: 20px;
    align-items: center;    
}

.estrellita{
    width: 10%;
    align-self: auto;
}

.menu__list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.menu__list__item__contato{
    font-weight: bold;
}


/*segunda division nombre*/
.title__profile {
    width: 30%;
    position: relative;
    font-size: var(--font-size-profile); /* Usar tamaño responsivo para texto en title__profile */
}



.title__div{
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
    justify-content: space-between;
    padding:  20px 9%;
    background-color: #ffffff;
}

/* texto en el contenedor */
.title__container{
    align-content: space-around;
    flex-wrap: wrap;
}

.title__container h2 {
    font-size: var(--font-size-h2); /* Usar tamaño responsivo para h2 */
    color: #464646;
}

/* links de redes abajo de mi descrip*/
.title__network{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 40px;
    justify-content: start;   
    
}

.about{
    display: flex;
    padding:  20px 9%;
}
.firma{
    text-align: end;
    width: 10%;
}

/*Tablet*/
@media (max-width: 1000px) {

    section.menu{
        padding: 10px;
        font-size: 2vw;
        justify-content: space-evenly;
    }

/* Menú */
.menu__list__item{
    display: none;
    
}

.title__div{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.title__container{
    font-size: 2vw;
}

}

/*Mobile*/
@media (max-width: 700px) {
    
}